.terraform/
*.tfstate
*.tfstate.backup
tfplan

lab-3-3/terraform/plan.json

# Lab 3.4
lab-3-4/plan.json
lab-3-4/broken/

# Lab 3.4
lab-3-4/plan.json
lab-3-4/broken/
terraform/primitives/compliant-s3/plan.json
